In [3]:
import pandas as pd
import sqlite3

In [4]:
connect = sqlite3.connect('book_rec.db')

In [5]:
user = pd.read_csv('pred_data.csv')

print(user.shape)
user.head()

(67200, 4)

   index  UserID     Dormitory     DorRating
0      0   10001           BPN  8.880496e-04
1      1   10001  DHAVA PLACE   8.662511e-01
2      2   10001       I place  9.588083e-15
3      3   10001      JK place  1.017895e-02
4      4   10001       KP Home  2.302000e-02

In [6]:
user.to_sql("autoencoder", connect, if_exists='fail')